<table>
  <%= form_for @order do |f| %>
  <%= f.hidden_field :creator_id, value: current_user.id %>
  <tr>
    <td>Select place</td>
    <td><%= collection_select(:order, :place_id, Place.all, :id, :name) %></td>
  </tr>
  <tr>
    <%= f.hidden_field :orderer_id, value: nil %>
    <td><%= check_box_tag :orderer_id, current_user.id %></td>
    <td>I want to be a orderer.</td>
  </tr>
  <tr>
    <%= f.hidden_field :deliverer_id, value: nil %>
    <td><%= check_box_tag :deliverer_id, current_user.id %></td>
    <td>I want to be a deliverer.</td>
  </tr>
  <tr>
    <td>Deadline</td>
    <td><%= f.time_select :deadline, {minute_step: 1} %></td>
  </tr>
  <tr colspan="2">
    <td><%= f.submit 'Save' %></td>
  </tr>
</table>
<% end %>
