<%= form_for item do |f| %>
  <tr data-item-id="<%= item.id %>">
    <td><%= label_tag "#{item.user.name}"%></td>
    <td>
      <%= f.number_field :cost, value: item.cost, :required => true, step: 0.01, placeholder: "Enter full cost of your order...", disabled: item.has_paid %>
    </td>
    <td><%= f.label :has_paid, value: item.has_paid ? "✅ Yes" : "❌ No" %></td>
    <td><%= f.submit 'Save', role: 'button', class: 'btn btn-success', disabled: item.has_paid %></td>
    <%= f.hidden_field :mode, :value => true %>
  </tr>
<% end %>
