<table class="table table-dark">
  <tr>
    <th>Place name</th>
    <th>Order deadline</th>
    <th>Action</th>
  </tr>
  <% collection.each do |order| %>
    <tr>
      <td><%= order.place.name %></td>
      <td><%= order.deadline.strftime("%k:%M") %></td>
      <td>
        <% if Time.now.getlocal < order.deadline.getlocal %>
          <%= link_to 'ðŸ“ Add your item', order_url(order.id), class: 'btn btn-info' %>
          <%= link_to 'ðŸ“‹ Items', order_items_url(order.id), class: 'btn btn-primary' %>
          <% if collection == @my_orders %>
            <%= link_to 'âœï¸ Edit', edit_order_path(order.id), class: 'btn btn-secondary' %>
            <% if Item.other_order_items(order.id, current_user.id).count.zero? %>
              <%= link_to 'ðŸ—‘ Destroy', order_path(id: order.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, role: 'button', class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        <% else %>
          ðŸ•— Deadline has passed
          <% if order.orderer_id == current_user.id %>
            <%= link_to 'ðŸ“© Order was ordered', orders_ordered_path(order.id), class: 'btn btn-info', method: :post %>
          <% end %>
          <% if order.allowed_to_see_payment?(current_user) %>
            <%= link_to 'ðŸ’° Payment', orders_payment_path(order.id), class: 'btn btn-warning' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
