<h1>Edit order</h1>

<table>
  <%= form_for @order do |f| %>
  <tr>
    <tr>
      <% if current_user.id == @order.creator_id && @order.deadline >= Time.zone.now%>
      <td>Deadline</td>
      <td><%= f.time_select :deadline, {minute_step: 1} %></td>
      <% end %>
    </tr>
    <% if @order.allowed_to_see_payment?(current_user)%>
    <tr>
      <div class="form-group">
        <%= f.label :delivery_cost %>
        <%= f.number_field :delivery_cost, value: @order.delivery_cost, step: :any, placeholder: "Enter full cost of delivery..." %>
      </div>
      <div class="form-group">
        <%= f.label :delivery_time, "Delivery time" %>
        <%= f.time_select :delivery_time, {minute_step: 1} %>
      </div>
    </tr>
    <% end %>
    <tr colspan="2">
      <td><%= f.submit 'Save' %></td>
    </tr>
  <% end %>
</table>
