<div class="jumbotron">
  <h1><%= "Payment for #{@order.items.count} item/s from order" %> <%= link_to "#{ @order.id} - #{@order.place.name} ", "#{orders_path}/#{@order.id}" %></h1>
</div class="jumbotron">

<div class="container authors">
  <div class="row">
    <div class="col-3 btn btn-light"><%= label_tag "User name"%></div>
    <div class="col-3 btn btn-light"><%= label_tag "Full costs "%></div>
    <div class="col-2 btn btn-light"><%= label_tag "Paid"%></div>
  </div>
  <hr/>
  <% @order.items.each do |item| %>
    <%= render 'item', item: item %>
  <% end %>
  <div align="center"><%= link_to 'Send payoff', orders_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary'  %></div>
</div>
<hr />
