<%= form_for @item do |f| %>
  <%= f.hidden_field :order_id, :value => @order.id %>

  <div class="form-group">
    <%= f.label "What do you want to eat? "%> Here's the <%= link_to "menu", "#{@order.place.menu_url}", target: '_blank' %>.
    <br>
    <%= f.text_area :food, cols: 50, rows: 5, :required => true, placeholder: "Enter all things you want to eat from #{@order.place.name} ..." %>
  </div>

  <% if @order.orderer_id == nil %>
    <%= hidden_field_tag :orderer, '' %>
    <%= check_box_tag :orderer, checked = true %> I want to be orderer.</br></br>  
  <% else %>
    <%= label_tag "Your order will be placed by #{@order.orderer.name}."%>
    <hr/>
  <% end %>

  <% if @order.deliverer_id == nil %>
    <%= hidden_field_tag :deliverer, '' %>
    <%= check_box_tag :deliverer, checked = true %> I want to be deliverer.</br></br>  
  <% elsif @order.delivery_by_restaurant == true %>
    <%= label_tag "Your order will be deliverered by #{@order.place.name}."%>
  <% else %>
    <%= label_tag "Your order will be deliverered by #{@order.deliverer.name}."%>
  <% end %>

  <div class="form-group">
    <%= f.label "Full costs: "%>
    <%= f.number_field :cost, value: :cost, :required => true, step: 0.01, placeholder: "Enter full cost of your order..." %>
  </div>
  <hr />
  <%= f.submit 'Save', role: 'button', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', orders_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
<% end %>
