<div class="container">
  <h1>
    You are adding an item to Order #<%= @order.id %> from <%= @order.place.name %> 
  </h1>
  <h2>Deadline for this order is <%= @order.deadline.strftime("%k:%I") %>.</h2>
<% if @item.errors.any? %>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

  <%= render 'form' %>

</div>
