<h2>Edit nickname</h2>
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg|%>
      <%= msg %>
    <%end%>
  </ul>
<% end %>

<%= form_for [:admin, @user] do |f|%>
  <%= f.label "Nickname" %>
  <%= f.text_field :nickname%>
  <hr />
  <%= f.submit "Safe" %>
<% end %>
