<h1>Selection of restaurants</h1>

<% @places.each do |place| %>
    <%= link_to "#{place.name}", places_path %>
<% end %>

<%= collection_select(:order, :place_id, Place.all, :id, :name) %>

<hr />
<h3>Extra place</h3>

<%= form_for @place do |f| %>
  <%= f.label  "Name of place:" %>
  <%= f.text_field :name  %>
  <%= f.label  "Link to menu:" %>
  <%= f.text_field :menu_url  %>
  <%= f.submit "Submit" %>
<% end %>
