<h1>Selection of restaurants</h1>

<% @places.each do |place| %>
    <%= link_to "#{place.name}", places_index_path %>
<% end %>

<%= collection_select(:order, :place_id, Place.all, :id, :name) %>

<hr />
<h3>Extra place</h3>

<%= form_tag do %>
  <%= label_tag(:q, "Link to menu:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>
